
#Nombreescuela {
    margin-top: 10%;
    color: white;
}

main {
    margin: 8%;
    background-color: rgb(255, 255, 255);
    margin-top: 3%;
}
#color{
    color: black;
}

#caja {
    display: grid;
    place-items: center;
 margin: auto;
}
p{
    color: black;
    
}
#ubicacion{
    margin-top: 10%;
}

#logoprincipal {
  
    background-color: aliceblue;
    border-radius: 100%;
}
#Contenido{
    margin-top: 5%;
}
footer{
    margin: 5%;
}
a:hover{
    background-color: cornflowerblue;
    color: aqua;
}